---
title: BOSH Command Line Interface
---

BOSH Command Line Interface (CLI) is used to interact with the Director and to bootstrap new BOSH environments. The CLI is written in Ruby and is provided by the two gems:

* `bosh_cli` contains main operator commands [<img src="https://badge.fury.io/rb/bosh_cli.png" />]
* `bosh_cli_plugin_micro` contains bootstrapping commands [<img src="https://badge.fury.io/rb/bosh_cli_plugin_micro.png" />]

To install both of these gems:

<pre class="terminal">
$ gem install bosh_cli bosh_cli_plugin_micro --no-ri --no-rdoc
</pre>

<p class='note'>Note: Installing the BOSH CLI requires Ruby 2+</p>

Use the following command to consult the BOSH CLI help and to verify that CLI can run:

<pre class="terminal">
$ bosh help
</pre>

---
## <a id="troubleshooting"></a> Installation Troubleshooting

If gems installation does not succeed, make sure pre-requisites for your OS are met.

### Prerequisites on Ubuntu Trusty

Make sure following packages are installed:

<pre class="terminal">
$ sudo apt-get install build-essential ruby ruby-dev libxml2-dev libsqlite3-dev libxslt1-dev libpq-dev libmysqlclient-dev
</pre>

Use this table to resolve the errors listed on the left with the corresponding command on the right.

<table>
  <tr>
    <th>Error</th>
    <th>Command</th>
  </tr>
  <tr>
    <td>Ruby not installed</td>
    <td><code class="terminal">$ sudo apt-get install ruby</code></td>
  </tr>
  <tr>
    <td>mkmf not found</td>
    <td><code class="terminal">$ sudo apt-get install ruby-dev</code></td>
  </tr>
  <tr>
    <td>libxml not found</td>
    <td><code class="terminal">$ sudo apt-get install libxml2-dev</code></td>
  </tr>
  <tr>
    <td>(compile.log:) make not found</td>
    <td><code class="terminal">$ sudo apt-get install build-essential</code></td>
  </tr>
  <tr>
    <td>libsqlite not found</td>
    <td><code class="terminal">$ sudo apt-get install libsqlite3-dev</code></td>
  </tr>
  <tr>
    <td>libxslt is missing</td>
    <td><code class="terminal">$ sudo apt-get install libxslt1-dev</code></td>
  </tr>
  <tr>
    <td>Can't find libpq-fe.h header</td>
    <td><code class="terminal">$ sudo apt-get install libpq-dev</code></td>
  </tr>
  <tr>
    <td>checking for mysql_query() ... no</td>
    <td><code class="terminal">$ sudo apt-get install libmysqlclient-dev</code></td>
  </tr>
  <tr>
    <td>zlib is missing; necessary for building libxml2</td>
    <td><code class="terminal">$ sudo apt-get install zlib1g-dev</code></td>
  </tr>
</table>

### Prerequisites on CentOS

Make sure following packages are installed:

<pre class="terminal">
$ sudo yum install gcc ruby ruby-devel mysql-devel postgresql-devel postgresql-libs sqlite-devel libxslt-devel libxml2-devel yajl-ruby
</pre>

---
## Installing AWS Boostrap CLI plugin (optional)

AWS bootstrap plugin provides additional CLI commands to help bootstrap a new AWS environment.

<pre class="terminal">
$ gem install bosh_cli_plugin_aws --no-ri --no-rdoc
</pre>

This plugin has been originally designed for quickly bootstrapping AWS development environments. It does not provide extensible configuration options.
