---
title: BOSH Command Line Interface
---

<p class='note'><strong>Note</strong>: Installing the BOSH CLI requires the latest patched version of Ruby 1.9.3, 2.0.x, or 2.1.x.</p>

You must use the BOSH Command Line Interface (CLI) to interact with MicroBOSH and BOSH.

Run this command to install BOSH CLI with the MicroBOSH plugin:

`gem install bosh_cli bosh_cli_plugin_micro`

Use the following command to consult the BOSH CLI help:

`bosh help --all`