---
title: CLI v2 vs v1
---

<p class="note">Note: Applies to CLI v2 v2.0.1+.</p>

---
## <a id="install"></a> Install

1. Download the binary for your platform and place it on your `PATH`. For example on UNIX machines:

  - [bosh-cli-2.0.1-darwin-amd64](https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-2.0.1-darwin-amd64) <span class="sha1">sha1: f46ed2beabefa88b1fca600595c28cfee07b519c</span>
  - [bosh-cli-2.0.1-linux-amd64](https://s3.amazonaws.com/bosh-cli-artifacts/bosh-cli-2.0.1-linux-amd64) <span class="sha1">sha1: f23c3aecec999cfda93a3123ccc724f09856a5c9</span>

  <pre class="terminal">
  $ chmod +x ~/Downloads/bosh-cli-*
  $ sudo mv ~/Downloads/bosh-cli-* /usr/local/bin/bosh
</pre>

1. Check `bosh` version to make sure it is properly installed:

  <pre class="terminal">
  $ bosh -v
</pre>

---
## <a id="general"></a> General differences

| Before                      | After
|-----------------------------|-----------------------------
| bosh-init deploy <manifest> | bosh create-env <manifest>
| bosh-init delete <manifest> | bosh delete-env <manifest>
| bosh target <ip>            | bosh alias-env name -e <ip>
| bosh status                 | bosh env
| bosh -t dir ...             | bosh -e dir ...
| bosh -d manifest-path ...   | bosh -d deployment-name ... [3]
| bosh deployment <manifest>  | bosh deployment <name>
| bosh deploy                 | bosh deploy <manifest>
| bosh delete deployment      | bosh delete-deployment
| bosh tasks recent 1000      | bosh tasks -r=1000
| bosh tasks --no-filter      | bosh tasks -a
| bosh download manifest dep  | bosh manifest
| bosh vms dep                | bosh instances

- Most commands require `-e` (environment) and `-d` (deployment) flags
- `-d` (deployment) flag accepts a deployment name instead of a manifest
- bosh-init CLI is now absorbed by the bosh CLI. One binary!
- Variety of commands (create-env/delete-env/deploy/recreate/etc.) accept simple interpolation flags (`-v/-l`)
- All commands support friendlier non TTY output, forceful TTY output and `--json` formatting
- All commands now use dashes instead of spaces
- All commands expect 'piece1/piece2' formatting for instances, releases, and stemcells
- `^+C` doesnt ask for task cancellation and just exits CLI command (task continue to run)
- `--no-track` has been removed from the bosh task command
- Sorts tables in a more consistent manner
- Stores configuration file in `~/.bosh/config`
- Most of the output formatting

---
## <a id="commands"></a> Differences per command

- `bosh alias-env` and all commands
  - only allows connections to Director configured with verifiable certificates
  - no longer asks to log-in

- `bosh log-in`
  - doesn't accept positional arguments for username/password

- `bosh deploy`
  - no longer checks or requires `director_uuid`
    - to achieve similar safety make sure to give unique deployment names across environments

- `bosh tasks`
  - sane arguments syntax (`-r` for recent and `-a` for all)

- `bosh ssh`
  - sane arguments syntax, use `ssh --help` for more info
  - support for running commands against multiple machines
  - adds `--ssh-opts` flag to pass through options to ssh command for port forwarding etc.
  - adds `-r` flag to collate results from multiple machines

- `bosh logs`
  - adds -f flag similar to `tail -f` (uses bosh ssh underneath)

- `bosh scp`
  - sane arguments syntax
  - support for running command against multiple machines

- `bosh vms`
  - removed second param for specifying deployment

- `bosh delete-deployment`
  - removed second param for specifying deployment since -d is used for deployment selection

- `bosh add-blob`
  - requires a path to its release destination
  - no longer uses symlinks to manage blobs but rather places file directly into `blobs/`
