---
title: BOSH Deployment Manifest
---

The BOSH deployment manifest is a YAML file that defines the components and
properties of the deployment.
When a BOSH operator initiates a new deployment using the BOSH CLI, the BOSH
Director receives a version of the deployment manifest and creates a new
deployment using this manifest.

Contents of a BOSH deployment manifest:

* [Deployment Identification](#deployment): A name for the deployment and the
UUID of the BOSH Director managing the deployment
* [Releases Block](#releases): Name and version of each release in a deployment
* [Compilation Block](#compilation): Properties of compilation VMs
* [Update Block](#update): Defines how BOSH updates job instances during
deployment
* [Resource Pools Block](#resource_pools): Properties of VMs that BOSH creates
and manages
* [Networks Block](#networks): Network configuration information
* [Jobs Block](#jobs): Configuration and resource information for jobs
* [Properties Block](#properties): Describes global properties and generalized
configuration information

## <a id='deployment'></a>Deployment Identification ##

**name** [String, required]: The name of the deployment. A single BOSH Director can manage multiple deployments and distinguishes them by name.

**director_uuid** [String, required]: This string must match the UUID of the currently targeted BOSH Director for the BOSH CLI to allow any operations on the deployment. Use `bosh status` to display the UUID of the currently targeted BOSH Director.

## <a id='releases'></a>Releases Block ##

**releases** [Hash, required]: The name and version of each release in the deployment.

* **name** [String, required]: Name of a release name used in the deployment
* **version** [String, required]: The version of the release to use

## <a id='compilation'></a>Compilation Block ##

**compilation** [Hash, required]: Properties of compilation VMs.

* **reuse\_compilation\_vms** [Boolean, optional]: If `false`, BOSH creates a new compilation VM for each new package compilation and destroys the VM when compilation is complete. If `true`, compilation VMs are re-used when compiling packages. Defaults to `false`.
* **workers** [Integer, required]: The maximum number of compilation VMs.
* **network** [String, required]: References a valid network name defined in the Networks block. BOSH assigns network properties to compilation VMs according to the type and properties of the specified network.
* **cloud_properties** [Hash, required]: Describes any IaaS-specific properties needed to create compilation VMs. Examples: `instance_type`, `availability_zone`

## <a id='update'></a>Update Block ##

**update** [Hash, required]: This specifies instance update properties. These properties control how BOSH updates job instances during the deployment.

* **canaries** [Integer, required]: The number of [canary](./glossary.html#canary) instances.
* **canary\_watch\_time** [Integer or Range, required]: The time to wait for canary instances to declare an updated job healthy or unhealthy.
    * If the `canary_watch_time` is an integer, the BOSH Director sleeps for that many seconds, then checks whether the canary instances are healthy.
    * If the `canary_watch_time` is a range (low-high), the Director:
        * Sleeps for `low` milliseconds
        * Checks whether the canary instances are healthy, sleeps until `high` milliseconds pass if they are not, then checks again
* **update\_watch\_time** [Integer or Range, required]: The time to wait for non-canary instances to declare an updated job healthy or unhealthy.
* **max\_in\_flight** [Integer, required]: The maximum number of non-canary instances to update in parallel.

## <a id='resource_pools'></a>Resource Pools Block ##

**resource_pools** [Hash, required]: Specifies the [resource pools](./glossary.html#resource_pools) a deployment uses. A deployment manifest can describe multiple resource pools and uses unique names to identify and reference them.

* **name** [String, required]: A unique name used to identify and reference the resource pool
* **network** [String, required]: References a valid network name defined in the Networks block. Newly created resource pool VMs use the described configuration.
* **size** [Integer, required]: The number of VMs in the resource pool. The resource pool should be at least as big as the total number of job instances using it.
* **stemcell** [Hash, required]: The stemcell used to create resource pool VMs.
    * **name** [String, required]: The stemcell name
    * **version** [String, required]: The stemcell version
* **cloud_properties** [Hash, required]: Describes any IaaS-specific properties needed to create compilation VMs. Examples: `instance_type`, `availability_zone`
* **env** [Hash, optional]: Describes the VM environment and provide a specific VM environment to the CPI `create_stemcell` call. `env` data is available to BOSH Agents as VM settings. Default is {} (empty Hash).

## <a id='networks'></a>Networks Block ##

**networks** [Hash, required]: Each sub-block listed in the Networks block specifies a network configuration that jobs can reference. There are three different network types: `manual`, `dynamic`, and `vip`.

### Manual ###

BOSH completely manages `manual` networks. For these networks, BOSH:

* Provides dynamic, static, and reserved IP pools
* Provides IP address ranges for DNS servers
* Manages assigning IP addresses
* Makes network-related sanity checks
* Specifies network configurations VMs should use

Manually managed networks can be further divided into subnets. A `manual` networks sub-block contains `subnets`, with each subnet containing the following information:

* **range** [String, required]: Subnet IP range that includes all IPs from this subnet.
* **gateway** [String, optional]: Subnet gateway IP.
* **dns** [Array, optional]: DNS IP addresses for this subnet.
* **cloud_properties** [Hash, optional]: Describes any IaaS-specific properties for the network.
* **reserved** [String, optional]: Reserved IP range. BOSH does not assign IPs from this range to any VM.
* **static** [String, optional]: Static IP range. BOSH assigns IPs from this range to jobs requesting static IPs.

### Dynamic ###

BOSH does not manage `dynamic` networks. VMs using a `dynamic` network must acquire IP addresses and other network configuration information from a DHCP server or other source, not from BOSH. The only configuration information supported in a `dynamic` network sub-block is `cloud_properties`.

* **cloud_properties** [Hash, optional]: Describes any IaaS-specific properties for the network.

### VIP ###

A `vip` network is a collection of virtual IPs (for example, EC2 elastic IPs) that require each job to specify a range of IPs it needs to run. The only configuration information supported in a `vip` network sub-block is `cloud_properties`.

* **cloud_properties** [Hash, optional]: Describes any IaaS-specific properties for the network.

## <a id='jobs'></a>Jobs Block ##

**jobs** [Hash, required]: Specifies [jobs](./glossary.html#job) included in this deployment. The most commonly used job properties are:

* **name** [String, required]: A unique name used to identify and reference the job.
* **template** [String, required]: Specifies the name of a job template in the release.
* **persistent_disk** [Integer, optional]: Specifies the persistent disk size; defaults to 0 (no persistent disk). If `persistent_disk` is a positive integer, BOSH creates a persistent disk of that size in megabytes and attaches it to each job instance VM.
* **properties** [Hash, optional]: Specifies job properties. Properties allow BOSH to configure jobs to a specific environment. `properties` defined in a job block are accessible only to that job, and override any identically named global properties.
* **resource_pool** [String, required]: A valid resource pool name from the Resource Pools block. BOSH runs instances of this job in a VM from the named resource pool.
* **update** [Hash, optional]: Specific update settings for this job. Use this to overriding global job update settings on a per-job basis.
* **instances** [Integer, required]: The number of job instances. Each instance is a VM running this particular job.
* **networks** [Array]: Specifies the networks this job requires. Each network can have the following properties specified:
    * **name** [String, required]: A valid network name from the Networks block
    * **static_ips** [Range, optional]: The range of IP addresses reserved for the job on the network
    * **default** [Array, optional]: Specifies which network components (DNS, Gateway) BOSH populates by default from this network. BOSH references this property if the Networks block defines multiple networks.

## <a id='properties'></a>Properties Block

**properties**: Describes global properties and generalized configuration information.

Global properties allow BOSH to configure jobs to a specific environment. `properties` defined in the Properties block are accessible to all jobs. Any identically named `properties` in the Jobs block will override the global property for that job.

Job templates may contain generalized configuration information like account names or port numbers. This information can be extracted from the job templates and added to the manifest in a sub-block of the Properties block. The name of the job template identifies the sub-block.

Typically abstracted information includes but is not limited to:

* Passwords
* Account names
* Shared secrets
* Host names
* IP addresses
* Port numbers