---
title: Deploying MicroBOSH
---

MicroBOSH is a version of BOSH that runs on a single VM.

BOSH that runs on multiple VMs, or multi-VM BOSH, deploys and manages
large-scale distributed systems.
The only supported way to deploy multi-VM BOSH is to use MicroBOSH.

You can use MicroBOSH to deploy multi-VM BOSH, Cloud Foundry, or other
distributed software packages on an IaaS.

The IaaS you use determines many details of how you deploy MicroBOSH.
This topic presents an overview of the procedure used to deploy MicroBOSH on any IaaS.

## <a id="configure-local"></a>Deploying MicroBOSH ##

If you are using AWS, OpenStack, or vSphere, refer to IaaS specific tutorials:

* [Deploying MicroBOSH to AWS](./deploy-microbosh-to-aws.html)
* [Deploying MicroBOSH to OpenStack](./deploy-microbosh-to-openstack.html)
* [Deploying MicroBOSH to vSphere](/deploying/vsphere/deploying_micro_bosh.html)

## <a id="create-manifest"></a> Advanced Configuration ##

The MicroBOSH deployment manifest is a YAML file that defines the components and
properties of the deployment.

* [AWS](./create-micro-manifest.html#ex-aws)
* [OpenStack](./create-micro-manifest.html#ex-openstack)
* [vSphere](./create-micro-manifest.html#ex-vsphere)
