---
title: Deploying MicroBOSH
---

MicroBOSH is a version of BOSH that runs on a single VM.

You can use MicroBOSH to deploy multi-VM BOSH, Cloud Foundry, or other
distributed software packages on an IaaS.

The IaaS you use determines many details of how you deploy MicroBOSH.
This topic provides documentation links on how to deploy MicroBOSH and configure the MicroBOSH deployment manifest for a specific IaaS.

## <a id="configure-local"></a>Deploying MicroBOSH ##

If you are using AWS, OpenStack, or vSphere, refer to the IaaS-specific tutorials:

* [Deploying MicroBOSH to AWS](./deploy-microbosh-to-aws.html)
* [Deploying MicroBOSH to OpenStack](./deploy-microbosh-to-openstack.html)
* [Deploying MicroBOSH to vSphere](./deploy-microbosh-to-vsphere.html)

## <a id="create-manifest"></a> Advanced Configuration ##

The MicroBOSH deployment manifest is a YAML file that defines the components and
properties of the deployment. Refer to the appropriate documentation on how to configure a manifest for your IaaS:

* [AWS](./create-micro-manifest.html#ex-aws)
* [OpenStack](./create-micro-manifest.html#ex-openstack)
* [vSphere](./create-micro-manifest.html#ex-vsphere)
