---
title: Connecting the Director to an External Blobstore
---

The Director stores uploaded releases, configuration files, logs and other data in a blobstore. A default DAV blobstore is sufficient for most BOSH environments; however, a highly-available external blobstore may be desired.

## <a id="included"></a> Included DAV (default)

By default the Director is configured to use included DAV blobstore job (see [Installing BOSH section](index.html#install) for example manifests). Here is how to configure it:

1. Add blobstore release job and make sure that persistent disk is enabled:

    ```yaml
    jobs:
    - name: bosh
      templates:
      - {name: blobstore, release: bosh}
      # ...
      persistent_disk: 25_000
      # ...
      networks:
      - name: default
        static_ips: [10.0.0.6]
    ```

1. Configure blobstore job. The blobstore's address must be reachable by the Agents:

    ```yaml
    properties:
      blobstore:
        provider: dav
        address: 10.0.0.6
        port: 25250
        director:
          user: director
          password: DIRECTOR-PASSWORD
        agent:
          user: agent
          password: AGENT-PASSWORD
    ```

Above configuration is used by the Director and the Agents.

---
## <a id="default"></a> S3

The Director and the Agents can use an S3 compatible blobstore. Here is how to configure it:

1. Create a *private* S3 bucket

1. Ensure that access to the bucket is protected, as the Director may store sensitive information.

1. Modify deployment manifest for the Director and specify S3 credentials and bucket name:

    ```yaml
    properties:
      blobstore:
        provider: s3
        access_key_id: ACCESS-KEY-ID
        secret_access_key: SECRET-ACCESS-KEY
        bucket_name: test-bosh-bucket
    ```

1. For an S3 compatible blobstore you need to additionally specify the host:

    ```yaml
    properties:
      blobstore:
        provider: s3
        access_key_id: ACCESS-KEY-ID
        secret_access_key: SECRET-ACCESS-KEY
        bucket_name: test-bosh-bucket
        host: objects.dreamhost.com
    ```

---
## <a id="gcs"></a> Google Cloud Storage (GCS)

The Director and the Agents can use GCS as a blobstore. Here is how to configure it:

1. [Create a GCS bucket](https://cloud.google.com/storage/docs/creating-buckets).

1. Create a [Service Account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount),
[fetch its Service Account File](https://cloud.google.com/iam/docs/creating-managing-service-account-keys),
and [grant it](https://cloud.google.com/iam/docs/granting-roles-to-service-accounts)
the `storage.objectAdmin` IAM role

1. Ensure that access to the bucket is protected, as the Director may store sensitive information.

1. Modify deployment manifest for the Director and specify GCS credentials and bucket name:

    ```yaml
    properties:
      blobstore:
        provider: gcs
        json_key: |
          SERVICE-ACCOUNT-FILE
        bucket_name: test-bosh-bucket
    ```

1. To use [Customer Supplied Encryption Keys](https://cloud.google.com/storage/docs/encryption#customer-supplied)
to encrypt blobstore contents instead of server-side encryption keys, specify `encryption_key`:

    ```yaml
    properties:
      blobstore:
        provider: gcs
        json_key: |
          SERVICE-ACCOUNT-FILE
        bucket_name: test-bosh-bucket
        encryption_key: BASE64-ENCODED-32-BYTES
    ```

1. To use an explicit [Storage Class](https://cloud.google.com/storage/docs/storage-classes)
to store blobstore contents instead of the bucket default, specify `storage_class`:

    ```yaml
    properties:
      blobstore:
        provider: gcs
        json_key: |
          SERVICE-ACCOUNT-FILE
        bucket_name: test-bosh-bucket
        storage_class: REGIONAL
    ```