---
title: Google CPI
---

This topic describes cloud properties for different resources created by the Google CPI.

## <a id='azs'></a> AZs

Schema for `cloud_properties` section:

* **zone** [String, required]: [Zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) to use for creating VMs. Example: `us-central1-f`.

Example:

```yaml
azs:
- name: z1
  cloud_properties:
    zone: us-central1-f
```

---
## <a id='networks'></a> Networks

Schema for `cloud_properties` section used by dynamic network or manual network subnet:

| Option                  | Required | Type                | Example            | Description
|:----------------------  |:--------:|:-------------       |:-------------      |:-----------
| `network_name`          | N        | String              | `cf`               | The name of the [Google Compute Engine Network](https://cloud.google.com/compute/docs/networking#networks) the CPI will use when creating the instance (if not set, by default it will use the `default` network)
| `xpn_host_project_id`   | N        | String              | `my-other-project` | The [project id](https://support.google.com/cloud/answer/6158840?hl=en) that owns the network resource to support [Shared VPC Networks (XPN)](https://cloud.google.com/compute/docs/xpn/) (if not set, it will default to the project hosting the compute resources)
| `subnetwork_name`       | N        | String              | `cf-east`          | The name of the [Google Compute Engine Subnet Network](https://cloud.google.com/compute/docs/networking#subnet_network) the CPI will use when creating the instance. If the network is in legacy mode, do not provide this property. If the network is in auto subnet mode, providing the subnetwork is optional. If the network is in custom subnet mode, then this field is required.
| `ephemeral_external_ip` | N        | Boolean             | `false`            | If instances must have an [ephemeral external IP](https://cloud.google.com/compute/docs/instances-and-network#externaladdresses) (`false` by default). Can be overridden in resource_pools.
| `ip_forwarding`         | N        | Boolean             | `false`            | If instances must have [IP forwarding](https://cloud.google.com/compute/docs/networking#canipforward) enabled (`false` by default). Can be overridden in resource_pools.
| `tags`                  | N        | Array&lt;String&gt; | `["foo","bar"]`    | A list of [tags](https://cloud.google.com/compute/docs/instances/managing-instances#tags) to apply to the instances, useful if you want to apply firewall or routes rules based on tags. Will be merged with tags in resource_pools.

Example of manual network:

```yaml
networks:
- name: default
  type: manual
  subnets:
  - range: 10.10.0.0/24
    gateway: 10.10.0.1
    dns: [8.8.8.8, 8.8.4.4]
    azs: [z1, z2]
    cloud_properties:
      network_name: cf
      ephemeral_external_ip: true
      tags: [internal, concourse]
```

Example of dynamic network spanning two zones:

```yaml
networks:
- name: default
  type: dynamic
  subnets:
  - azs: [z1, z2]
    dns: [8.8.8.8, 8.8.4.4]
    cloud_properties:
      network_name: cf
      ephemeral_external_ip: true
      tags: [internal, concourse]
```

Example of vip network:

```yaml
networks:
- name: default
  type: vip
```

---
## <a id='vm-types'></a> VM Types

Schema for `cloud_properties` section:

| Option                  | Required | Type                                     | Example                                                                        | Description
|:------------------------|:--------:|:-------------                            |:-------------                                                                  |:-----------
| `machine_type`          | Y        | String                                   | `n1-standard-1`                                                                | The name of the [Google Compute Engine Machine Type](https://cloud.google.com/compute/docs/machine-types) the CPI will use when creating the instance (required if not using `cpu` and `ram`)
| `cpu`                   | Y        | Integer                                  | `2`                                                                            | Number of vCPUs ([Google Compute Engine Custom Machine Types](https://cloud.google.com/custom-machine-types/)) the CPI will use when creating the instance (required if not using `machine_type`)
| `ram`                   | Y        | Integer                                  | `2048`                                                                         | Amount of memory ([Google Compute Engine Custom Machine Types](https://cloud.google.com/custom-machine-types/)) the CPI will use when creating the instance (required if not using `machine_type`)
| `zone`                  | N        | String                                   | `us-west1-a`                                                                   | The name of the [Google Compute Engine Zone](https://cloud.google.com/compute/docs/zones) where the instance must be created
| `root_disk_size_gb`     | N        | Integer                                  | `10`                                                                           | The size (in Gb) of the instance root disk (default is `10`)
| `root_disk_type`        | N        | String                                   | `pd-standard`                                                                  | The name of the [Google Compute Engine Disk Type](https://cloud.google.com/compute/docs/disks/#overview) the CPI will use when creating the instance root disk
| `automatic_restart`     | N        | Boolean                                  | `false`                                                                        | If the instances should be [restarted automatically](https://cloud.google.com/compute/docs/instances/setting-instance-scheduling-options#autorestart) if they are terminated for non-user-initiated reasons (`false` by default)
| `on_host_maintenance`   | N        | String                                   | `MIGRATE`                                                                      | [Instance behavior](https://cloud.google.com/compute/docs/instances/setting-instance-scheduling-options#onhostmaintenance) on infrastructure maintenance that may temporarily impact instance performance (supported values are `MIGRATE` (default) or `TERMINATE`)
| `preemptible`           | N        | Boolean                                  | `false`                                                                        | If the instances should be [preemptible](https://cloud.google.com/preemptible-vms/) (`false` by default)
| `service_account`       | N        | String                                   | `service-account-name@project-name.iam.gserviceaccount.com`                    | The full service account address of the service account to launch the VM with. If a value is provided, `service_scopes` will default to `https://www.googleapis.com/auth/cloud-platform` unless it is explicitly set. See [service account permissions](https://cloud.google.com/compute/docs/access/service-accounts#service_account_permissions) for more details. To use the default service account, leave this field empty and specify `service_scopes`.
| `service_scopes`        | N        | Array&lt;String&gt;                      | `cloud-platform`                                                               | If this value is specified and `service_account` is empty, `default` will be used for `service_account`. This value supports both short (e.g., `cloud-platform`) and fully-qualified (e.g., `https://www.googleapis.com/auth/cloud-platform` formats. See [Authorization scope names](https://cloud.google.com/docs/authentication#oauth_scopes) for more details.
| `target_pool`           | N        | String                                   | `cf-router`                                                                    | The name of the [Google Compute Engine Target Pool](https://cloud.google.com/compute/docs/load-balancing/network/target-pools) the instances should be added to
| `backend_service`       | N        | String OR Map&lt;String,String&gt;       | `cf-router` (external), `{name: "cf-internal", scheme: "INTERNAL"} (internal)` | The name of the [Google Compute Engine Backend Service](https://cloud.google.com/compute/docs/load-balancing/http/backend-service) the instances should be added to. The backend service must already be configured with an [Instance Group](https://cloud.google.com/compute/docs/instance-groups/#unmanaged_instance_groups) in the same zone as this instance. To set up [Internal Load Balancing](https://cloud.google.com/compute/docs/load-balancing/internal/) use a map and set `scheme` to `INTERNAL` and `name` to the name of the backend service.
| `ephemeral_external_ip` | N        | Boolean                                  | `false`                                                                        | Overrides the equivalent option in the networks section
| `ip_forwarding`         | N        | Boolean                                  | `false`                                                                        | Overrides the equivalent option in the networks section
| `tags`                  | N        | Array&lt;String&gt;                      | `["foo","bar"]`                                                                | Merged with tags from the networks section
| `labels`                | N        | Map&lt;String,String&gt;                 | `{"foo":"bar"}`                                                                | A dictionary of (key,value) labels applied to the VM

Example of an `n1-standard-2` VM:

```yaml
vm_types:
- name: default
  cloud_properties:
    instance_type: n1-standard-2
    root_disk_size_gb: 20
    root_disk_type: pd-ssd
    service_scopes:
    - compute.readonly
    - devstorage.read_write
```

Example of an `INTERNAL` backend service:

```yaml
vm_extensions:
- name: backend-pool
  cloud_properties:
    ephemeral_external_ip: true
    backend_service:
      name: name-of-backend-service
      scheme: INTERNAL
```

Example of an `EXTERNAL` backend service:

```yaml
vm_extensions:
- name: backend-pool
  cloud_properties:
    backend_service:
      name: name-of-backend-service
```
The above backend-service cloud configuration examples are referenced within the deployment manifest as such:

```yaml
instance_groups:
- name: proxy
  instances: 2
  azs: [z1, z2]
  networks: [{name: default}]
  vm_type: default
  stemcell: default
  jobs:
  - name: proxy
    release: default
  vm_extensions: [backend-pool]
```

---
## <a id='disk-types'></a> Disk Types

Schema for `cloud_properties` section:

* **type** [String, optional]: Type of the [disk](https://cloud.google.com/compute/docs/disks/#overview): `pd-standard`, `pd-ssd`. Defaults to `pd-standard`.

Persistent disks are created in the zone of a VM that disk will be attached.

Example of 10GB disk:

```yaml
disk_types:
- name: default
  disk_size: 10_240
```

---
## <a id='global'></a> Global Configuration

The CPI can only talk to a single Google Compute Engine region.

See [all configuration options](https://bosh.io/jobs/google_cpi?source=github.com/cloudfoundry-incubator/bosh-google-cpi-release).

---
## <a id='cloud-config'></a> Example Cloud Config

```yaml
azs:
- name: z1
  cloud_properties: {zone: us-central1-f}
- name: z2
  cloud_properties: {zone: us-central1-a}

vm_types:
- name: default
  cloud_properties:
    machine_type: n1-standard-4
    root_disk_size_gb: 20
    root_disk_type: pd-ssd

disk_types:
- name: default
  disk_size: 3000

networks:
- name: default
  type: manual
  subnets:
  - range:   10.10.0.0/24
    gateway: 10.10.0.1
    dns:     [8.8.8.8, 8.8.4.4]
    azs:     [z1, z2]
    cloud_properties:
      network_name: cf
      ephemeral_external_ip: true
      tags: [internal, concourse]
- name: vip
  type: vip

compilation:
  workers: 3
  reuse_compilation_vms: true
  az: z1
  vm_type: default
  network: default
```

---
[Back to Table of Contents](index.html#cpi-config)
