---
title: Configuring Health Monitor
---

Sections below only show minimum configuration options to enable plugins. Add them to the deployment manifest for the Health Monitor. See [health_monitor release job properties](http://bosh.io/jobs/health_monitor?source=github.com/cloudfoundry/bosh) for more details.

---
## <a name="logger"></a> Event Logger

Enabled by default. No way to turn it off.

---
## <a name="resurrector"></a> Resurrector

Restarts VMs that have stopped heartbeating. See [Automatic repair with Resurrector](resurrector.html) for more details.

```yaml
properties:
  hm:
    resurrector_enabled: true
```

---
## <a name="emailer"></a> Emailer

Plugin that sends configurable e-mails on events reciept.

```yaml
properties:
  hm:
    email_notifications: true
    email_recipients: [email@gmail.com]
    smtp:
      from:
      host:
      port:
      domain:
      tls:
      auth:
      user:
      password:
```

---
## <a name="tsdb"></a> OpenTSDB

Plugin that forwards alerts and heartbeats to [OpenTSDB](http://opentsdb.net/).

```yaml
properties:
  hm:
    tsdb_enabled: true
    tsdb:
      address: tsdb.your.org
      port: 4242
```

---
## <a name="graphite"></a> Graphite

Plugin that forwards heartbeats to [Graphite](https://graphite.readthedocs.org/en/latest/).

```yaml
properties:
  hm:
    graphite_enabled: true
    graphite:
      address: graphite.your.org
      port: 2003
```

---
## <a name="pagerduty"></a> PagerDuty

Plugin that sends various events to [PagerDuty.com](http://pagerduty.com) using their API.

```yaml
properties:
  hm:
    pagerduty_enabled:
    pagerduty:
      service_key:
      http_proxy:
```

---
## <a name="datadog"></a> DataDog

Plugin that sends various events to [DataDog.com](http://datadoghq.com) using their API.

```yaml
properties:
  hm:
    datadog_enabled: true
    datadog:
      api_key:
      application_key:
      pagerduty_service_name:
```

---
## <a name="cloudwatch"></a> AWS CloudWatch

Plugin that sends various events to [Amazon's CloudWatch](http://aws.amazon.com/cloudwatch/) using their API.

```yaml
properties:
  hm:
    cloud_watch_enabled: true
  aws:
    access_key_id:
    secret_access_key:
```
