---
title: BOSH Documentation
---

Once you are familiar with the Foundations material,
feel free to skip around among the other topics
according to what you need to do with BOSH.

## <a id="foundations"></a> BOSH Foundations ##

Required reading for novices and experts alike.

* [Glossary](glossary.html)
* [What BOSH is and Why it's Different](what-bosh-is.html)
* [Basic BOSH Workflow](workflow.html)

## <a id="working"></a> Working with BOSH ##

How to deploy and operate a BOSH-based environment.

* [Setting Up your IaaS for BOSH](iaas-setup.html)
* [Deploying MicroBOSH](deploy-microbosh.html)
* [Deploying Distributed Software with BOSH](deploy-with-bosh.html)

## <a id="deep"></a> BOSH in Depth ##

Knowledge and skills for developers and others who go "under the hood."

* [How BOSH Works](how-bosh-works.html)
* [Creating a MicroBOSH Deployment Manifest](create-micro-manifest.html)
* [Creating a BOSH Deployment Manifest](create-manifest.html)

