---
title: Index
---

See [Recent Additions and Updates](recent.html).

## <a id="intro"></a> Introduction

* [What is BOSH?](about.html)
    * [What problems does BOSH solve?](problems.html)
        * [Stemcell](stemcell.html)
        * [Release](release.html)
        * [Deployment](deployment.html)
    * Comparison to other tools
* [Terminology](terminology.html)

---
## <a id="install"></a> Install BOSH

### Install BOSH with bosh-init

* [BOSH components](bosh-components.html)
* [Install bosh-init](install-bosh-init.html)
    * [Using bosh-init](using-bosh-init.html)
        * [Migrating to bosh-init from the micro CLI plugin](migrate-to-bosh-init.html)
* [Install BOSH CLI](bosh-cli.html)
* [Bootstrap an environment](init.html)
    * [On AWS](init-aws.html)
    * [On Azure](init-azure.html)
    * [On OpenStack](init-openstack.html)
    * [On vSphere](init-vsphere.html)
    * [On vCloud](init-vcloud.html)
    * On SoftLayer (coming soon)
    * On Google Compute Engine (coming soon)
    * [On RackHD](rackhd-cpi.html)
    * [On Local machine using BOSH Lite](bosh-lite.html)

### <a id="director-config"></a> Advanced Director configuration

* [User management](director-users.html)
    * [UAA Integration](director-users-uaa.html)
    * [UAA Permissions](director-users-uaa-perms.html)
* [SSL certificate configuration](director-certs.html)
* [Removal of compilers](remove-dev-tools.html)
* [Access event logging](director-access-events.html)
* [Events](events.html)
* [Explicit ARP Flushing](flush-arp.html)
* [Configuring external database](director-configure-db.html)
* [Configuring external blobstore](director-configure-blobstore.html)
* [Micro CLI plugin **[deprecated, but supported]**](bootstrap.html)

---
## <a id="basic-deploy"></a> Using BOSH to deploy software

* [Basic workflow](basic-workflow.html)
    * [Deployment basics](deployment-basics.html)
        * [Deployment manifest schema](deployment-manifest.html)
    * [Uploading stemcells](uploading-stemcells.html)
    * [Uploading releases](uploading-releases.html)
    * [Deploying](deploying.html)
    * Running one-off tasks
    * Updating deployment to deal with security vulnerabilities
    * [Managing releases](managing-releases.html)
    * [Managing stemcells](managing-stemcells.html)
* [Deploying step-by-step](deploying-step-by-step.html)
* [CLI commands](sysadmin-commands.html)
* [Director tasks](director-tasks.html)
* [Troubleshooting](tips.html)

### <a id="deployment-config"></a> Detailed deployment configuration

* [Cloud config](cloud-config.html)
    * [AZs](azs.html)
    * [Networks](networks.html)
    * [VM anti-affinity](vm-anti-affinity.html)
* [Runtime config](runtime-config.html)
    * [Addons](runtime-config.html#addons)
    * [Common addons](addons-common.html)
* [Trusted certificates](trusted-certs.html)
* [Manifest v2 schema](manifest-v2.html)
    * [Links](links.html)
    * [Link properties](links-properties.html)
    * [Manual linking](links-manual.html)
    * [Renaming/migrating instance groups](migrated-from.html)
* [Persistent and orphaned disks](persistent-disks.html)
    * [Customizing persistent disk FS](persistent-disk-fs.html)

### <a id="cpi-config"></a> Detailed CPI configuration & troubleshooting

* [AWS](aws-cpi.html)
    * [Using IAM instance profiles](aws-iam-instance-profiles.html)
    * [Using instance storage](aws-instance-storage.html)
    * [Creating IAM users](aws-iam-users.html)
* [Azure](azure-cpi.html)
    * [Creating resources](azure-resources.html)
* [OpenStack](openstack-cpi.html)
    * [Using Keystone v2 API](openstack-keystonev2.html)
    * [Extended Registry configuration](openstack-registry.html)
    * [Human-readable VM names](openstack-human-readable-vm-names.html)
    * [Validating self-signed OpenStack endpoints](openstack-self-signed-endpoints.html)
    * [Multi-homed VMs](openstack-multiple-networks.html)
* [vSphere](vsphere-cpi.html)
    * [vSphere HA](vsphere-ha.html)
    * [Migrating from one datastore to another](vsphere-migrate-datastores.html)
    * [Storage DRS and vMotion Support](vsphere-vmotion-support.html)
* [vCloud](vcloud-cpi.html)
* SoftLayer (coming soon)
* Google Compute Engine (coming soon)
* [RackHD](rackhd-cpi.html)
* [Warden/Garden](warden-cpi.html)
* [VirtualBox](virtualbox-cpi.html)

### <a id="hm"></a> Health management of VMs and processes

* [Monitoring](monitoring.html)
    * [Configuring Health Monitor](hm-config.html)
* [Process monitoring with Monit](vm-monit.html)
* [Manual repair with Cloud Check](cck.html)
* [Automatic repair with Resurrector](resurrector.html)
* [Persistent disk snapshotting](snapshots.html)

### <a id="vm-config"></a> VM configuration (looking inside a deployment)

* [Structure of a managed VM](vm-struct.html)
    * [VM configuration locations](vm-config.html)
* [Location and use of logs](job-logs.html)
* [Instance metadata](instance-metadata.html)
* Debugging issues with jobs

---
## <a id="release"></a> Using BOSH to package and distribute software

* What is a release?
    * [Creating a release](create-release.html)
    * Testing with dev releases
    * Cutting final releases
    * [Compiled releases](compiled-releases.html)
* [What is a job?](jobs.html)
    * Creating a job
    * [Job lifecycle](job-lifecycle.html)
        * [Pre-start script](pre-start.html)
        * [Post-start script](post-start.html)
        * [Post-deploy script](post-deploy.html)
        * [Drain script](drain.html)
    * [Scheduled processes](scheduled-procs.html)
* What is a package?
    * [Creating a package](packages.html)
    * Relationship to release blobs
* How do releases, jobs, and packages interact?
* Managing release repository
    * [Configuring S3 release blobstore](s3-release-blobstore.html)

---
## <a id="extend"></a> Extending BOSH

* [Director API v1](director-api-v1.html)
* What is a CPI?
* [Building a CPI](build-cpi.html)
    * [CPI API v1](cpi-api-v1.html)
    * [Agent-CPI interactions](agent-cpi-interactions.html)
* [Building a stemcell](build-stemcell.html)
