---
title: BOSH Documentation
---

BOSH is an open source orchestration tool for working with large-scale
deployments.
With BOSH, you can do things like:

* scale a deployment up or down with a single command
* define resource pools with VMs of varying sizes and use the appropriate size
for a given job type
* manage your static IP addresses
* specify a base operating system for your VMs
* upgrade the operating system for all your VMs with a single deploy command

BOSH also monitors the health of the jobs running on the VMs within a deployment
and can automatically heal the cluster if a VM dies.

BOSH works on multiple IaaS offerings including AWS, Open Stack, and vSphere,
freeing operators from concerns about differences between environments.

With BOSH, deployments and updates are predictable, repeatable, and
infrastructure-agnostic.

## <a id="foundations"></a> BOSH Foundations ##

This section provides both a starting point for novices and a fresh view
for experts.

* [Glossary](glossary.html)
* [What BOSH is and Why it's Different](what-bosh-is.html)
* [Basic BOSH Workflow](workflow.html)

## <a id="working"></a> Working with BOSH ##

How to deploy and operate a BOSH-based environment.

* [Setting Up your IaaS for BOSH](iaas-setup.html)
* [Deploying MicroBOSH](deploy-microbosh.html)
* [Deploying Distributed Software with BOSH](deploy-with-bosh.html)

## <a id="deep"></a> BOSH in Depth ##

Knowledge and skills for developers and other experts.

* [How BOSH Works](how-bosh-works.html)
* [Creating a BOSH Release](create-release.html)
* [Creating a MicroBOSH Deployment Manifest](create-micro-manifest.html)
* [Creating a BOSH Deployment Manifest](create-manifest.html)

