---
title: Index
---

## <a id="intro"></a> Introduction

 * [What is BOSH?](about.html)
    * [What problems does BOSH solve?](problems.html)
       * [Stemcell](stemcell.html)
       * [Release](release.html)
       * [Deployment](deployment.html)
    * Comparison to other tools
 * [Terminology](terminology.html)

---
## <a id="install"></a> Installing BOSH

### Installing BOSH with bosh-init

 * [BOSH components](bosh-components.html)
 * [Bootstrapping an environment](init.html)
    * [On AWS](init-aws.html)
    * [On OpenStack](init-openstack.html)
    * [On vSphere](init-vsphere.html)
    * [On vCloud](init-vcloud.html)
    * [On Local machine using BOSH Lite](bosh-lite.html)
 * [Install bosh-init](install-bosh-init.html)
 * [Using bosh-init](using-bosh-init.html)
    * [Migrating to bosh-init from the micro CLI plugin](migrate-to-bosh-init.html)
 * [Installing BOSH CLI](bosh-cli.html)

### Installing BOSH with the micro CLI plugin **[deprecated, but supported]**

 * [Bootstrapping an environment](bootstrap.html)
    * [On AWS](deploy-microbosh-to-aws.html)
    * [On OpenStack](deploy-microbosh-to-openstack.html)
    * [On vSphere](deploy-microbosh-to-vsphere.html)

### <a id="director-config"></a> Advanced configuration

 * [User management on the Director](director-users.html)
 * [Configuring the Director to use External Database](connect-postgres-hadb.html)
 * Configuring the Director to use External Blobstore

---
## <a id="basic-deploy"></a> Using BOSH to deploy software

 * [Basic workflow](basic-workflow.html)
    * [Deployment basics](deployment-basics.html)
       * [Deployment manifest schema](deployment-manifest.html)
    * [Uploading stemcells](uploading-stemcells.html)
    * [Uploading releases](uploading-releases.html)
    * [Deploying](deploying.html)
    * Running one off tasks
    * Updating deployment to deal with security vulnerabilities
 * [Deploying step-by-step](deploying-step-by-step.html)
 * [CLI Commands](sysadmin-commands.html)
 * [Director tasks](director-tasks.html)

### <a id="deployment-config"></a> Detailed Deployment Configuration

 * Deployment Jobs
 * Resource Pools
    * [VM anti-affinity](vm-anti-affinity.html)
 * [Networks](networks.html)
 * [Persistent disks](persistent-disks.html)
 * [Trusted certificates](trusted-certs.html)
 * IaaS specifics
    * [AWS](aws-cpi.html)
    * [OpenStack](openstack-cpi.html)
    * [vSphere](vsphere-cpi.html)
    * [vCloud](vcloud-cpi.html)
    * [Warden/Garden](warden-cpi.html)

### <a id="hm"></a> Health Management of VMs and Processes

 * [Monitoring](monitoring.html)
    * [Configuring Health Monitor](hm-config.html)
 * [Process monitoring with Monit](vm-monit.html)
 * [Manual repair with Cloud Check](cck.html)
 * [Automatic repair with Resurrector](resurrector.html)
 * [Persistent disk snapshotting](snapshots.html)

### <a id="vm-config"></a> VM Configuration (Looking inside a Deployment)

 * [Structure of a BOSH VM](vm-struct.html)
    * [VM Configuration Locations](vm-config.html)
 * [Location and use of logs](job-logs.html)
 * Debugging issues with jobs

---
## <a id="release"></a> Using BOSH to package and distribute software

 * What is a release?
    * [Creating a release](create-release.html)
    * Testing with dev releases
    * Cutting final releases
       * Versioning of releases
 * What is a job?
    * Creating a job
    * Job properties
    * [Job lifecycle](job-lifecycle.html)
        * [Pre-start script](pre-start.html)
        * [Drain script](drain.html)
 * What is a package?
    * [Creating a package](packages.html)
    * Relationship to release blobs
 * How do releases, jobs, and packages interact?
 * Managing release repository
    * Release blobstore
       * [Configuring S3 release blobstore](s3-release-blobstore.html)

---
## <a id="extend"></a> Extending BOSH to support other IaaSs

 * What is a CPI?
 * [Building a CPI](build-cpi.html)
    * [CPI API v1](cpi-api-v1.html)
    * Interactions between CPIs and BOSH Agent
 * [Building a stemcell](build-stemcell.html)
