---
title: BOSH Documentation
---

BOSH is an open source tool chain for working with large-scale distributed
services.
BOSH coordinates the efforts of developers, release engineers, cloud operators,
and network and system administrators.

BOSH frees developers from concerns about differences between environments.
Deployments and updates are predictable, repeatable, and
infrastructure-agnostic.

## <a id="foundations"></a> BOSH Foundations ##

This section provides both a starting point for novices and a fresh view
for experts.

* [Glossary](glossary.html)
* [What BOSH is and Why it's Different](what-bosh-is.html)
* [Basic BOSH Workflow](workflow.html)

## <a id="working"></a> Working with BOSH ##

How to deploy and operate a BOSH-based environment.

* [Setting Up your IaaS for BOSH](iaas-setup.html)
* [Deploying MicroBOSH](deploy-microbosh.html)
* [Deploying Distributed Software with BOSH](deploy-with-bosh.html)

## <a id="deep"></a> BOSH in Depth ##

Knowledge and skills for developers and other experts.

* [How BOSH Works](how-bosh-works.html)
* [Creating a MicroBOSH Deployment Manifest](create-micro-manifest.html)
* [Creating a BOSH Deployment Manifest](create-manifest.html)

