---
title: BOSH Documentation
---

BOSH installs and updates software packages on large numbers of VMs over many IaaS providers with the absolute minimum of configuration changes.

BOSH orchestrates initial deployments and ongoing updates that are:

* Predictable, repeatable, and reliable
* Self-healing
* Infrastructure-agnostic

BOSH works on multiple IaaS offerings including AWS, Open Stack, and vSphere,
freeing operators from concerns about differences between environments.

### [What's New in BOSH](./bosh-new.html) ###

## <a id="foundations"></a> BOSH Foundations ##

* [BOSH Terminology](./terminology.html)
* [Understanding BOSH](./understanding-bosh.html)
* [BOSH Components](./bosh-components.html)
* [BOSH Jobs and Errands](./jobs.html)
* [Basic BOSH Workflow](./workflow.html)
* [BOSH Design Principles](./design.html)

## <a id="working"></a> Working with BOSH ##

The [BOSH Command Line Interface (CLI)](bosh-cli.html) is the primary operator
interface to BOSH.
Run `bosh help --all` to see all available BOSH commands.

* [Setting Up your IaaS for BOSH](./iaas-setup.html)
* [Deploying MicroBOSH](./deploy-microbosh.html)
* [Deploying MicroBOSH to AWS](./deploy-microbosh-to-aws.html)
* [Deploying Distributed Software with BOSH](./deploy-with-bosh.html)

## <a id="deep"></a> BOSH in Depth ##

* [Creating a BOSH Release](./create-release.html)
* [Creating a MicroBOSH Deployment Manifest](./create-micro-manifest.html)
* [Understanding the BOSH Deployment Manifest](./deployment-manifest.html)
* [Sample BOSH Deployment Manifest](./sample-manifest.html)
* [How to Locate and Watch Logs on Job VMs](./job-logs.html)