---
title: BOSH Documentation
---

BOSH installs and updates software packages on large numbers of VMs over many IaaS providers with the absolute minimum of configuration changes.

BOSH orchestrates initial deployments and ongoing updates that are:

* Predictable, repeatable, and reliable
* Self-healing
* Infrastructure-agnostic

BOSH works on multiple IaaS offerings including AWS, Open Stack, and vSphere,
freeing operators from concerns about differences between environments.

## <a id="foundations"></a> BOSH Foundations ##

* [Understanding BOSH](./understanding-bosh.html)
  * [BOSH Terminology](./terminology.html)
  * [BOSH Components](./bosh-components.html)
  * [BOSH Jobs and Errands](./jobs.html)
  * [Basic BOSH Workflow](./workflow.html)
  * [BOSH Design Principles](./design.html)

## <a id="installing"></a> Installing and Configuring MicroBOSH ##

The [BOSH Command Line Interface (CLI)](bosh-cli.html) is the primary operator
interface to BOSH.

* [Deploying MicroBOSH](./deploy-microbosh.html)
  * [Deploying MicroBOSH to AWS](./deploy-microbosh-to-aws.html)
  * [Deploying MicroBOSH to OpenStack](./deploy-microbosh-to-openstack.html)

### <a id="advanced-configuration"></a> Advanced Configuration ###

* [Creating a MicroBOSH Deployment Manifest](./create-micro-manifest.html)
* [Connecting BOSH or MicroBOSH to an External Postgres Database](./connect-postgres-hadb.html)
<hr />
* [Setting Up vSphere for BOSH](./setup-vsphere.html)
* [Setting Up AWS for BOSH](./setup-aws.html)
* [Setting Up OpenStack for BOSH](./setup-openstack.html)

## <a id="deep"></a> Deploying Software with BOSH ##

* [BOSH Commands for System Administration](./sysadmin-commands.html)
* [Understanding the BOSH Deployment Manifest](./deployment-manifest.html)
  * [Sample BOSH Deployment Manifest](./sample-manifest.html)
* [Using BOSH Job and Errand Logs](./job-logs.html)
* [Persistent Disks](./persistent-disks.html)
* [VM Anti-affinity](./vm-anti-affinity.html)
* [Deploying Distributed Software with BOSH](./deploy-with-bosh.html)

## <a id="health-management"></a> Health Management with BOSH ##

* [Disaster Recovery with BOSH](./disaster-recovery.html)
  * [Using the BOSH Resurrector](./bosh-resurrector.html)
* [Using BOSH Snapshots](./snapshots.html)

## <a id="creating-releases"></a> Creating BOSH Releases ##

* [Creating a BOSH Release](./create-release.html)
  * [Drain Scripts](./drain-scripts.html)
  * [Creating BOSH Packages](./packages.html)
