---
title: Install bosh-init
---

`bosh-init` is used for creating and updating a Director VM (and its persistent disk) in an environment.

Here are the latest binaries:

<div class="well">
	{{ range .LatestBoshInitBinGroups }}
		<h4>{{ .Version }}</h4>
		<ul>
			{{ range .Binaries }}
				<li><a {{ href .URL }}>{{ .Description }}</a></li>
			{{ end }}
		</ul>
	{{ end }}
</div>

1. Download the binary for your platform and place it on your `PATH`. For example on UNIX machines:

	<pre class="terminal">
	$ chmod +x ~/Downloads/bosh-init-*
	$ sudo mv ~/Downloads/bosh-init-* /usr/local/bin/bosh-init
	</pre>

1. Check `bosh-init` version to make sure it is properly installed:

	<pre class="terminal">
	$ bosh-init -v
	</pre>

1. Depending on your platform install following packages:

	**Ubuntu Trusty**

	<pre class="terminal">
	$ sudo apt-get install -y build-essential zlibc zlib1g-dev ruby ruby-dev openssl libxslt-dev libxml2-dev libssl-dev libreadline6 libreadline6-dev libyaml-dev libsqlite3-dev sqlite3
	</pre>

	**CentOS**

	<pre class="terminal">
	$ sudo yum install gcc ruby ruby-devel mysql-devel postgresql-devel postgresql-libs sqlite-devel libxslt-devel libxml2-devel yajl-ruby patch
	</pre>

	**Mac OS X**

	Install Apple Command Line Tools:
	<pre class="terminal">
	$ xcode-select --install
	</pre>

	Use [Homebrew](http://brew.sh) to install OpenSSL:
	<pre class="terminal">
	$ brew install openssl
	</pre>

1. Make sure Ruby 2+ is installed:

	<pre class="terminal">
	$ ruby -v
	ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]
	</pre>

---
See [Using bosh-init](using-bosh-init.html) for details on how to use it.
