---
title: Install bosh-init
---

`bosh-init` is used for creating and updating a Director VM (and its persistent disk) in an environment.

Here are the latest binaries:

<div class="well">
	{{ range .LatestBoshInitBinGroups }}
		<h4>{{ .Version }}</h4>
		<ul>
			{{ range .Binaries }}
				<li><a {{ href .URL }}>{{ .Description }}</a></li>
			{{ end }}
		</ul>
	{{ end }}
</div>

Once you download the binary for your platform, place it on your `PATH`. For example on UNIX machines:

<pre class="terminal">
$ chmod +x ~/Downloads/bosh-init-*
$ sudo mv ~/Downloads/bosh-init-* /usr/local/bin/bosh-init
</pre>

To make sure `bosh-init` is properly installed, check its version:

<pre class="terminal">
$ bosh-init -v
</pre>

---
See [Using bosh-init](using-bosh-init.html) for details on how to use it.
