---
title: Managing stemcells
---

(See [What is a Stemcell?](stemcell.html) and [Uploading stemcells](uploading-stemcells.html) for an introduction.)

---
## <a id="overview"></a> Overview

Each stemcell is uniquely identified by its name and version.

You can identify stemcell version from inside the VM via following files:

- `/var/vcap/bosh/etc/stemcell_version`: Example: `3232.1`
- `/var/vcap/bosh/etc/stemcell_git_sha1`: Example: `8c8a6bd2ac5cacb11c421a97e90b888be9612ecb+`

<p class="note">Note: Release authors should not use the contents of these files in their releases.</p>

See [Stemcell Building](build-stemcell.html#tarball-structure) to find stemcell archive structure.

---
## <a id="fix"></a> Fixing corrupted stemcells

Occasionally stemcells are deleted from the IaaS outside of the Director. For example your vSphere administrator decided to clean up your vSphere VMs folder. The Director of course will continue to reference deleted IaaS asset and CPI will eventually raise an error when trying to create new VM. `bosh upload stemcell` command provides a `--fix` flag which allows to reupload stemcell with the same name and version into the Director fixing this problem.

---
## <a id="clean-up"></a> Cleaning up uploaded stemcells

Over time the Director accumulates stemcells. Stemcells could be deleted manually via `bosh delete stemcell` command or be cleaned up via `bosh cleanup` command.
