---
title: Runtime Config
---

<p class="note">Note: This feature is available with bosh-release ?.</p>

As of bosh-release ? the Director has a way to specify global configuration for all VMs in all deployments. The runtime config is a YAML file that defines IaaS agnostic configuration that applies to all deployments.

---
## <a id='update'></a> Updating and retrieving runtime config

To update runtime config on the Director use [`bosh update runtime-config`](sysadmin-commands.html#cloud-config) CLI command.

<p class="note">Note: See [example runtime config](#example) below.</p>

<pre class="terminal">
$ bosh update runtime-config runtime.yml

$ bosh runtime-config
Acting as user 'admin' on 'micro'

releases:
- {name: strongswan, version: 6.0.0}

addons:
- name: security
  jobs:
  - name: strongswan
    release: strongswan
...
</pre>

Once runtime config is updated all deployments will be considered outdated. `bosh deployments` does not currently show that but we have plans to show that information. The Director will apply runtime config changes to each deployment during the next `bosh deploy` for that deployment.

---
## <a id='example'></a> Example

```yaml
releases:
- {name: strongswan, version: 6.0.0}

addons:
- name: security
  jobs:
  - name: strongswan
    release: strongswan
  properties:
    strongswan:
      ca_cert: ...
```

---
## <a id='releases'></a> Releases Block

**releases** [Array, required]: Specifies the releases used by the addons.

* **name** [String, required]: Name of a release name used by an addon.
* **version** [String, required]: The version of the release to use. Version *cannot* be `latest`; it must be specified explicitly.

Example:

```yaml
releases:
- {name: strongswan, version: 6.0.0}
```

---
## <a id='addons'></a> Addons Block

Operators typically want to ensure that certain software runs on all VMs managed by the Director. Examples of such software are:

- security agents like Tripwire, IPsec, etc.
- anti-viruses like McAfee
- custom health monitoring agents like Datadog
- logging agents like Loggregator's Metron

An addon is a release job that is colocated on all VMs managed by the Director.

**addons** [Array, optional]: Specifies the [addons](./terminology.html#addon) to be applied to all deployments.

* **name** [String, required]: A unique name used to identify and reference the addon.
* **jobs** [Hash, requires]: Specifies the name and release of release jobs to be colocated.
  * **name** [String, required]: The job name.
  * **release** [String, required]: The release where the job exists.
* **properties** [Hash, optional]: Specifies job properties. Properties allow the Director to configure jobs to a specific environment. `properties` specified on an addon are only accessible to addons.

Example:

```yaml
addons:
- name: security
  jobs:
  - name: strongswan
    release: strongswan
  - name: syslog_drain
    release: syslog
  properties:
    strongswan:
      ca_cert: ...
    syslog_drain_ips: [10.10.0.20]
```
