---
title: VM Anti-affinity
---

For certain deployment jobs it might be recommended that its instances 
are spread across physical resources of the IaaS. Even though IaaS-es 
abstract away underlying hardware resources, most have specific APIs 
to configure VM affinity/anti-affinity rules. 

One popular example of a deployment job that needs such configuration 
is Hadoop Datanode. If multiple Datanodes instances are placed on the 
same physical machine, replicated data would become unavailable when 
that physical machine fails. To make replication useful in that scenario 
BOSH allows to configure deployment job's resource pool to specify IaaS 
specific VM anti-affinity configuration via resource pool's `cloud_properties`.

Currently only vSphere CPI provides a way to specify VM anti-affinity rules.

## <a id='vsphere'></a>vSphere Configuration ##

vSphere has a concept of [VM-VM Affinity Rules](http://pubs.vmware.com/vsphere-51/index.jsp#com.vmware.vsphere.resmgmt.doc/GUID-94FCC204-115A-4918-9533-BFC588338ECB.html) which allow to specify whether VMs should run on the same host or be 
kept on separate hosts. As of BOSH version 101 (stemcell 2693) vSphere CPI 
can be configured to add all VMs in a BOSH resource pool into a single 
DRS rule to spread out VMs across multiple hosts.

Following resource pool/job configuration will make BOSH to:

1. create 7 hadoop-datanode VMs in `my-vsphere-cluster` vSphere cluster
1. create `separate-hadoop-datanodes-rule` DRS rule in `my-vsphere-cluster` vSphere cluster
1. configure DRS rule such that DRS tries to place associated VMs onto different hosts
1. associate 7 created VMs with created DRS rule

<pre class='terminal'>
# Assuming that some hadoop release is used...

resource_pools:
- name: hadoop-datanodes
  cloud_properties:
    datacenters:
    - name: my-dc
      clusters:
      - my-vsphere-cluster
          drs_rules:
          - name: separate-hadoop-datanodes-rule
            type: separate_vms

jobs:
- name: hadoop-datanode
  templates:
  - {name: hadoop-datanode, release: hadoop}
  instances: 7
  resource_pool: default
  persistent_disk: 10_240
  networks:
  - name: default
</pre>

Few things to check in vSphere if VMs are not placed onto different hosts:

- multiple healthy hosts are associated with vSphere cluster
- DRS is turned on for the vSphere cluster (you can modify 
  DRS automation level in cluster settings)
- DRS rule is enabled and is associated with created VMs
- DRS had enough time to move VMs to different hosts

<p class="note"><strong>Note</strong>: vSphere CPI currently only supports 
one DRS rule per BOSH resource pool.</p>

<p class="note"><strong>Note</strong>: vSphere CPI does not create a DRS rule 
if BOSH resource pool contains only one VM. As soon as second VM is added 
DRS rule will be applied to all VMs in that BOSH resource pool.</p>
