---
title: BOSH Workflow
---

While the distributed software you use BOSH to deploy can be complex, the basic patterns for working with BOSH are not.

## <a id="options"></a> Options for Deploying BOSH  ##

Before you use BOSH to deploy software, how do you deploy BOSH itself?

You have several options.

1. BOSH Lite is software that runs within a single VM.
Scripts packaged with BOSH Lite make deploying it simpler than deploying a normal ("full") BOSH.

1. _other option_

only in AWS:
bosh aws create
bosh aws bootstrap micro bosh aws bootstrap bosh
or generate for manifests only instead of bootstrap

minimal example:
deploy BOSH with MicroBOSH

## <a id="before"></a> Before Deploying, Obtain the Stemcell, Release and Manifest  ##

Before you deploy, you must have:

* A **release** that has the software products and services you want.
You can obtain a release from a software provider, or create one yourself.

* A **stemcell** appropriate to the cloud infrastructure and OS where you plan to deploy.
You obtain a stemcell from Pivotal Network.

* A **manifest** that accounts for environmental constraints and specifies how you want to orchestrate your deployment.
You can modify an example manifest to suit your purposes, or use a tool like spiff to create a manifest.

## <a id="deploying"></a> Deploying Software with BOSH  ##

Iterative

To deploy software with BOSH, you perform four steps:

1. Upload stemcell.
1. Upload release.
1. Set deployment with a manifest.
1. Deploy.

This simple pattern makes ,

Other activities that are typical of the care and feeding of distributed software deployments include:

* Creating and editing users
* Inspecting the state of VMs
* Getting (viewing) and sometimes cancelling Director tasks

You may perform these activities either before and after deployment.





### <a id=" "></a>    ###

