/* emphasize schema subsection levels through blockquote */
.bosh-schema blockquote {
  padding-bottom: .01rem;
  padding-left: 1.8rem;
  margin-left: 1rem;
  border-left: .4rem solid rgba(0,0,0,.18);
  color: var(--md-typeset-color);
}

/* in headers, the codehilite causes distracting indenting */
.bosh-schema h2 .codehilite,
.bosh-schema h3 .codehilite,
.bosh-schema h4 .codehilite,
.bosh-schema h5 .codehilite,
.bosh-schema h6 .codehilite {
  margin-left: 0;
  margin-right: 0;
  padding-left: .2em;
  padding-right: .2em;
}

/* normalize headers since they're equivalently significant */
.bosh-schema h3,
.bosh-schema h4,
.bosh-schema h5,
.bosh-schema h6 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
}

.bosh-schema dl {
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
}

.bosh-schema dl::after {
    content: "";
    clear: both;
    display: table;
}

[dir="ltr"] .bosh-schema dd {
  margin: 0 0 0 6em;
}

.bosh-schema dt {
  font-style: italic;
  position: absolute;
}

.md-copyright__highlight {
    color: inherit;
}


/* START Primary Sidebar */

@media screen and (max-width: 76.2344em) {
  .md-nav--lifted > .md-nav__list {
    &:has(> .md-nav__item--sidebar-sticky-bottom) { padding-bottom: 1.2rem; }
    > .md-nav__item--bosh-sidebar-sticky-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: inherit;
    }
  }
}

@media screen and (min-width: 76.25em) {
  .md-nav--lifted > .md-nav__list {
     > .md-nav__item--bosh-persistent {
       display: block;
       margin-top: 0;
       > .md-nav__link {
         > .md-ellipsis { cursor: default; }
         > .md-nav__icon { display: none; }
       }
     > .md-nav__item--bosh-persistent + .md-nav__item { margin-top: 1.2rem; }
  }
}
/* END Primary Sidebar */
