{% set class = "md-tabs" %}
{% if page.ancestors | length > 0 %}
  {% set class = "md-tabs md-tabs--active" %}
{% endif %}
<nav class="{{ class }}" data-md-component="tabs">
  <div class="md-tabs__inner md-grid">
    <ul class="md-tabs__list">
      {% for nav_item in nav %}
        {% include "partials/tabs-item.html" %}
      {% endfor %}

      <li class="md-tabs__item"><a href="/stemcells/" title="Stemcells" class="md-tabs__link">Stemcells</a></li>
      <li class="md-tabs__item"><a href="/releases/" title="Releases" class="md-tabs__link">Releases</a></li>
    </ul>
  </div>
</nav>
