{% extends "base.html" %}

{% block content %}
  {% if page and page.meta.schema %}
    <div class="bosh-schema">
  {% endif %}
  {{ super() | replace("https://github.com/cloudfoundry/docs-bosh/edit/master/content/bpm/", "https://github.com/cloudfoundry-incubator/bpm-release/edit/master/docs/") }}
  {% if page and page.schema %}
    </div>
  {% endif %}
{% endblock %}

{% block htmltitle %}
  {% if page and page.meta and page.meta.title %}
    {# always show site suffix to avoid individual content pages needing to suffix #}
    <title>{{ page.meta.title }} - {{ config.site_name }}</title>
  {% elif page and page.title and not page.is_homepage %}
    <title>{{ page.title }} - {{ config.site_name }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}
